# Requirements

[Install MySQL Server](https://www.mysqltutorial.org/install-mysql/)

In [1]:
# Run this then Restart Notebook Kernel

%pip install mysql

Collecting mysql
  Using cached mysql-0.0.3-py3-none-any.whl (1.2 kB)
Collecting mysqlclient
  Using cached mysqlclient-2.1.1-cp39-cp39-win_amd64.whl (178 kB)
Installing collected packages: mysqlclient, mysql
Successfully installed mysql-0.0.3 mysqlclient-2.1.1
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 20.2.3; however, version 23.0.1 is available.
You should consider upgrading via the 'c:\Users\ekaap\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

In [2]:
# Import Package

import mysql.connector
import pandas as pd

# Connect to MySQL Database

In [5]:
# Connect to MySQL Server using user & password that you have created

conn = mysql.connector.connect(user='student', password='MySQL$#5', host='127.0.0.1')

# Create Your First Database

## Setup Cursor

In [ ]:
cursor = conn.cursor()

## Execute Query

In [ ]:
query = open('human_resources_mysql.sql', 'r') 
# Check the query in human_resources_mysql.sql. 
# It contains DDL (Data Definition Language) & DML (Data Manipulation Language) needed for creating your first database.

# Executing the query. multi = True is to enable multi line SQL query execution.
cursor.execute(query.read(), multi=True)

## Close the Database Connection

In [ ]:
conn.close()

You can check your Database and its tables at MySQL Workbench. Install it from MySQL Installer.

# Query your First Database

Query using Pandas

In [ ]:
# Database Credential for Login 
user = 'student'
password = 'MySQL$#5'
host = '127.0.0.1'
port = '3306'
database = 'hr'

# Write your query here
query = '''
        SELECT * FROM hr.locations
        '''

# Connect to database
conn = mysql.connector.connect(user, password, host, port, database)

# Read database using pandas sql
df = pd.read_sql_query(query, conn)
df.head()